p {
    font-size: 30px;
}

button {
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.firstEl {
    width: 150px;
    height: 150px;
    background-color: green;
}

.secondEl {
    width: 150px;
    height: 150px;
    background-color: red;
}

.thirdEl {
    width: 150px;
    height: 150px;
    background-color: blue;
}

.clickingEl {
    width: 150px;
    height: 150px;
    background-color: yellow;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}